.carousel-image{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* 设置覆盖层宽度 */
    height: 100%;
    background-color: rgba(122, 175, 144, 0.7); /* 设置半透明颜色 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.carousel-image-container{
}

.editable-area-1 {
    display: flex;
    width: 100%; /* 将宽度设为100%，以便为内部元素提供更多空间 */
    height: 400px;
}

/* 调整 first-card 中的每个轮播项的样式，使其变为正方形 */
.editable-area-1 .push-content {
    object-fit: cover;
    align-items: flex-end;
    width: 100%;
    height: 100%; /* 设置高度为100%，使其为正方形 */
    border-radius: 10px;
    cursor: pointer;
}


.editable-area-1 .first-card {
    flex: 2; /* 将 first-card 的宽度占比增大 */
    margin-right: 10px;
    width: 0;
}
.editable-area-1 .second-card {
    flex: 3; /* 保持 second-card 的宽度占比不变 */
    margin-left: 10px;
}
.editable-area-1 .second-card .el-col {
    flex: 0 0 25%; /* 确保每个卡片占用 25% 的宽度，即一行四个 */
    max-width: 25%;
    padding: 15px; /* 添加间距 */
    box-sizing: border-box; /* 确保 padding 不影响元素的宽度 */
}
.editable-area-1 .second-card .top8Course{
    width: 100%;
    height:105px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgb(53, 77, 66);
}

.editable-area-2{
    display: flex;
    height: 400px;
}

.editable-area-2 .first-card{
    flex: 2;
    /*background-color: #2CBE56;*/

    margin-right: 10px;
}

.editable-area-2 .push-content{
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
}
.editable-area-2 .second-card{
    flex: 1;
    /*background-color: #2A60C9;*/
    margin-left: 10px;
    width: 0;
}
.block-overlay{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    transition: transform 0.5s;
}
.font-sub-title-whitebk h3:hover {
    transform: scale(1.1);
}
.block-overlay:hover {
    transform: scale(1.1);
}
.font-effect{
    position: relative;
    z-index: 101;
    transition: transform 0.3s;
}

.editable-area-3{
    display: flex;
    justify-content: center; /* 使内容居中 */
    margin: 20px auto; /* 顶部和底部的边距，水平居中 */
    flex-wrap: wrap; /* 允许项目换行 */
    margin: 20px auto; /* 顶部和底部的边距，水平居中 */
}

.editable-area-4{
    display: flex;
    justify-content: center; /* 使内容居中 */
    margin: 20px auto; /* 顶部和底部的边距，水平居中 */
    flex-wrap: wrap; /* 允许项目换行 */
    margin: 20px auto; /* 顶部和底部的边距，水平居中 */
}

.channel{
    display: flex;
    justify-content: center;
}

.channel-row{
    display: flex;
    justify-content: center; /* 子项居中 */
    flex-wrap: wrap; /* 允许子项换行 */
    width: 100%; /* 完全占据父容器的宽度 */
}


.channel .channel-card{
    display: flex;
    justify-content: center; /* 为了安全起见，再次确保内容居中 */
    flex: 0 0 300px; /* 确保每个 el-col 的基础大小为 300px，不伸缩 */
    max-width: 100%; /* 防止列宽超过容器宽 */
    width: 300px; /* 使图片宽度填满卡片宽度 */
    height: 350px; /* 固定图片高度，可根据需要调整 */
    flex-direction: column; /* 让卡片内容垂直排列 */
    align-items: center; /* 水平居中卡片内容 */
    border-radius: 20px;
    transition: transform 0.3s;
    margin: 20px;
    cursor: pointer;
}
.channel .channel-card:hover{
    transform: scale(1.1);
}

.channel .channel-image{
    width: 300px; /* 使图片宽度填满卡片宽度 */
    height: 300px; /* 固定图片高度，可根据需要调整 */
    object-fit: cover; /* 使图片内容尺寸适应容器尺寸 */
    border-radius: 5px; /* 给图片添加圆角 */
}

.channel .channel-name{
    text-align: center;
}
.el-icon-caret-right{
    color: #858d8f;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.box-card {
    cursor: pointer;
}

.el-dialog {
    overflow: hidden;
}

.carousel-content {
    padding: 20px;
    width: 50%;
}

.content-scroll {
    max-height: 80%;
    overflow-y: auto;
}

.information-recommend-container {
    display: flex;
    justify-content: center;
}

.information-recommend {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}


