<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LessonMapper">

    <sql id="Base_Column_List">
        id, img, name, content, type, video, file, college_id, major_id, schoolLevelflag
    </sql>

    <select id="selectAll" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        <where>
            <if test="id != null"> AND lesson.id = #{id}</if>
            <if test="name != null"> AND lesson.name LIKE CONCAT('%', #{name}, '%')</if>
        </where>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectById" resultType="com.example.entity.Lesson">
        SELECT
        <include refid="Base_Column_List" />
        FROM lesson
        WHERE id = #{id}
    </select>

    <select id="selectByClassId" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
                 LEFT JOIN lesson_class ON lesson.id = lesson_class.lesson_id
                 LEFT JOIN college ON lesson.college_id = college.id
                 LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson_class.class_id = #{classId}
        ORDER BY lesson.id DESC
    </select>

    <select id="selectByType" resultType="com.example.entity.Lesson">
        SELECT
        <include refid="Base_Column_List" />
        FROM lesson
        WHERE type = #{type}
        ORDER BY id DESC
    </select>

    <select id="selectPageByClassId" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name AS collegeName, major.name AS majorName
        FROM lesson
        LEFT JOIN lesson_class ON lesson.id = lesson_class.lesson_id
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        <where>
            lesson_class.class_id = #{classId}
            <if test="name != null and name != ''">
                AND lesson.name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectSchoolLevelLessons" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson.schoolLevelflag = 1
        <if test="name != null and name != ''">
            AND lesson.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectSchoolLevelLessonsForClass" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson.schoolLevelflag = 1
        AND lesson.id NOT IN (SELECT lesson_id FROM lesson_class WHERE class_id = #{classId})
        <if test="name != null and name != ''">
            AND lesson.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectCollegeLevelLessons" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson.college_id IS NOT NULL
        AND lesson.major_id IS NULL
        <if test="name != null and name != ''">
            AND lesson.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectCollegeLevelLessonsForClass" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson.college_id IS NOT NULL
        AND lesson.major_id IS NULL
        AND lesson.id NOT IN (SELECT lesson_id FROM lesson_class WHERE class_id = #{classId})
        <if test="name != null and name != ''">
            AND lesson.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectMajorLevelLessons" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson.major_id IS NOT NULL
        <if test="name != null and name != ''">
            AND lesson.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lesson.id DESC
    </select>

    <select id="selectMajorLevelLessonsForClass" resultType="com.example.entity.Lesson">
        SELECT lesson.*, college.name as collegeName, major.name as majorName
        FROM lesson
        LEFT JOIN college ON lesson.college_id = college.id
        LEFT JOIN major ON lesson.major_id = major.id
        WHERE lesson.major_id IS NOT NULL
        AND lesson.id NOT IN (SELECT lesson_id FROM lesson_class WHERE class_id = #{classId})
        <if test="name != null and name != ''">
            AND lesson.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY lesson.id DESC
    </select>

    <delete id="deleteById">
        DELETE FROM lesson
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Lesson" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lesson
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="img != null">img,</if>
            <if test="name != null">name,</if>
            <if test="content != null">content,</if>
            <if test="type != null">type,</if>
            <if test="video != null">video,</if>
            <if test="file != null">file,</if>
            <if test="collegeId != null">college_id,</if>
            <if test="majorId != null">major_id,</if>
            <if test="schoolLevelflag != null">schoolLevelflag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="img != null">#{img},</if>
            <if test="name != null">#{name},</if>
            <if test="content != null">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="video != null">#{video},</if>
            <if test="file != null">#{file},</if>
            <if test="collegeId != null">#{collegeId},</if>
            <if test="majorId != null">#{majorId},</if>
            <if test="schoolLevelflag != null">#{schoolLevelflag},</if>
        </trim>
    </insert>

    <!--添加关联表中课件与班级关联-->
    <insert id="insertLessonClass">
        INSERT INTO lesson_class (lesson_id, class_id) VALUES (#{lessonId}, #{classId})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Lesson">
        UPDATE lesson
        <set>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="video != null">
                video = #{video},
            </if>
            <if test="file != null">
                file = #{file},
            </if>
            <if test="collegeId != null">
                college_id = #{collegeId},
            </if>
            <if test="majorId != null">
                major_id = #{majorId},
            </if>
            <if test="schoolLevelflag != null">
                schoolLevelflag = #{schoolLevelflag},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteLessonClassByLessonId">
        DELETE FROM lesson_class WHERE lesson_id = #{lessonId}
    </delete>

</mapper>
