<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <sql id="Base_Column_List">
        id,username,password,name,phone,email,avatar,role,studentflag,college_id,major_id,class_id

    </sql>
    <!--查询语句-->
    <select id="selectAll" resultType="com.example.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and password= #{password}</if>
            <if test="name != null"> and name= #{name}</if>
            <if test="phone != null"> and phone= #{phone}</if>
            <if test="email != null"> and email= #{email}</if>
            <if test="avatar != null"> and avatar= #{avatar}</if>
            <if test="role != null"> and role= #{role}</if>
            <if test="studentflag != null"> and role= #{studentflag}</if>
        </where>
    </select>
    <!--根据studentflag查询-->
    <select id="selectByStudentFlag" resultType="com.example.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and password= #{password}</if>
            <if test="name != null"> and name= #{name}</if>
            <if test="phone != null"> and phone= #{phone}</if>
            <if test="email != null"> and email= #{email}</if>
            <if test="avatar != null"> and avatar= #{avatar}</if>
            <if test="role != null"> and role= #{role}</if>
            <if test="studentflag != null"> and studentflag= #{studentflag}</if>
        </where>
    </select>
    <!--关联学院专业班级查询-->
    <select id="selectAllRelate" resultType="com.example.entity.User">
        select user.*, college.name as collegeName, major.name as majorName, classes.name as className
        from user
        left join college on user.college_id = college.id
        left join major on user.major_id = major.id
        left join classes on user.class_id = classes.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and password= #{password}</if>
            <if test="name != null"> and name= #{name}</if>
            <if test="phone != null"> and phone= #{phone}</if>
            <if test="email != null"> and email= #{email}</if>
            <if test="avatar != null"> and avatar= #{avatar}</if>
            <if test="role != null"> and role= #{role}</if>
            <if test="studentflag != null"> and role= #{studentflag}</if>
        </where>
    </select>
    <!--根据班级ID查询所有学生-->
    <select id="selectByClassId" resultType="com.example.entity.User">
        SELECT
            user.*,
            college.name as collegeName,
            major.name as majorName,
            classes.name as className
        FROM
            user
                LEFT JOIN
            college ON user.college_id = college.id
                LEFT JOIN
            major ON user.major_id = major.id
                LEFT JOIN
            classes ON user.class_id = classes.id
        WHERE
            user.class_id = #{classId}
    </select>


    <!--根据id查询-->
    <select id="selectById" resultType="com.example.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id}
    </select>
    <!--根据id删除-->
    <delete id="deleteById">
        delete from user
        where  id = #{id}
    </delete>
<!--insert into user (id, username, password,....) values ('zhangsan', '123456',....)-->
    <!--插入语句-->
    <insert id="insert" parameterType="com.example.entity.User" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="name != null">name,</if>
                <if test="phone != null">phone,</if>
                <if test="email != null">email,</if>
                <if test="avatar != null">avatar,</if>
                <if test="role != null">role,</if>
                <if test="collegeId != null">college_id,</if>
                <if test="majorId != null">major_id,</if>
                <if test="classId != null">class_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="username != null">#{username},</if>
                <if test="password != null">#{password},</if>
                <if test="name != null">#{name},</if>
                <if test="phone != null">#{phone},</if>
                <if test="email != null">#{email},</if>
                <if test="avatar != null">#{avatar},</if>
                <if test="role != null">#{role},</if>
                <if test="collegeId != null">#{collegeId},</if>
                <if test="majorId != null">#{majorId},</if>
                <if test="classId != null">#{classId},</if>
        </trim>
    </insert>
    <!--更新-->
    <update id="updateById" parameterType="com.example.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="studentflag != null">
                studentflag = #{studentflag},
            </if>
            <if test="collegeId != null">
                college_id = #{collegeId},
            </if>
            <if test="majorId != null">
                major_id = #{majorId},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
            <if test="collegeId == null">
                college_id = NULL,
            </if>
            <if test="majorId == null">
                major_id = NULL,
            </if>
            <if test="classId == null">
                class_id = NULL,
            </if>
        </set>
        where id = #{id} 
    </update>
</mapper>